@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --const: #cacdd4;
  --text: #65676b;
}

.fullShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 15px 0px;
}
